mat-card {
    max-width: 350px;
    text-align: center;
    margin: 50px auto;
}

.content-card {
    padding: 50px
}

.input-width {
    width: 100%;
}

mat-card-footer {
    font-size: 10px;
    text-align: left;
    color: red;
}